@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
    <h1>Add a new stylist</h1>
</div>
<hr />

@using (Html.BeginForm())
{   <div class="form-container">
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
        </div>
    </div>
    <div class="center">
        <input type="submit" value="Add Stylist" class="btn" />
    </div>
}

<div class="link-container">
    <p>@Html.ActionLink("Show all stylists", "Index")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>