@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Eau Clair's Salon</h1>
</div>
  <div class="link-container">
    <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
  </div>
