@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="container">
  <h1>Delete Client</h1>
</div>
<hr />
<div class="center">
  <h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)? This action cannot be undone.</h2>
</div>

@using (Html.BeginForm())
{ <div class="center">
    <input type="submit" value="Delete" class="btn" />
  </div>
}
<div class="link-container">
  <p>@Html.ActionLink("Back to List", "Index")</p>
</div>