@{
    Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container">
  <h1>Clients</h1>
</div>

@if (@Model.Count == 0)
{ <div class="center">
    <h3>No clients have been added yet!</h3>
  </div>
} 

<div class="link-container">
  <p>@Html.ActionLink("Add new Client", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>

<div class="center">
  <ul>
    @foreach(Client client in Model)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</li>
    }
  </ul>
</div>